@import 'var.less';

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
    color: @color-blue;
    text-decoration: none;

    &:hover {
        color: @color-tomato;
    }
}

.container {
    width: 70%;
    margin: 0 15%;
}